.content {
	overflow-x: hidden;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.row > * {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.content-wrapper {
	margin: 20px;
	padding: 10px;
	height: auto;
	background-color: white;
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.card {
	margin-bottom: 30px;
}

.hr-line {
	border: none;
	border-top: 1px solid #000;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header button {
	font-size: 14px;
	font-weight: bold;
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	bottom: 0;
	background-color: white;
	z-index: 1;
	padding: 10px 20px;
}

.items-per-page-select {
	margin-left: 1rem;
}

.table-wrapper {
	overflow-x: auto;
	white-space: nowrap;
}
